checklist==0.0.11
datasets==2.9.0
ipykernel==6.21.1
ipython==7.34.0
matplotlib==3.6.3
pandas==1.5.3
presidio-analyzer==2.2.32
presidio-anonymizer==2.2.32
presidio-evaluator==0.1.0
spacy==3.4.4
tokenizers==0.13.2
torch==1.13.1
tqdm==4.64.1
transformers==4.25.1
transformers-interpret==0.10.0
wandb==0.14.0
evaluate==0.4.0
